<footer>
  <div class="container">
    <div class="footer-content">
      <div class="footer-info">
        <h3>Leucosia Luxury Suites</h3>
        <p>Via Pechino, snc<br>87064, Corigliano Calabro, Italia</p>
        <p>Tel: +39 389 2347941<br>Email: leucosialuxurysuites&#64;gmail.com</p>
      </div>
      <div class="footer-links">
        <h3>Collegamenti Rapidi</h3>
        <ul>
          <li><a href="#home">Home</a></li>
          <li><a href="#servizi">Servizi</a></li>
          <li><a href="#camere">Camere</a></li>
          <li><a href="#recensioni">Recensioni</a></li>
          <li><a href="#contatti">Contatti</a></li>
        </ul>
      </div>
      <div class="footer-checktimes">
        <h3>Orari Check-in e Check-out</h3>
        <p><strong>Check-in:</strong> dalle 15:00 alle 22:00</p>
        <p><strong>Check-out:</strong> entro le 11:00</p>
      </div>
      <div class="footer-map">
        <h3>Dove Siamo</h3>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2882.9835093209717!2d16.5981270154988!3d39.624158379464775!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x134aaf93e563b9b1%3A0x5aa5289ca683c121!2sVia%20Pechino%2C%2087064%20Corigliano%20Calabro%20CS!5e0!3m2!1sit!2sit!4v1688598906816!5m2!1sit!2sit"
          width="100%" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
    <div class="footer-bottom">
      <p>&copy; 2025 Leucosia Luxury Suites. Tutti i diritti riservati.</p>
    </div>
  </div>
</footer>
