<app-header></app-header>

<div class="container">
  <div style="text-align: center;">
    <h2>Accedi</h2>
  </div>

  <div *ngIf="errorMessage" class="error-message">
    <p>{{ errorMessage }}</p>
  </div>

  <form class="form" (ngSubmit)="onSubmit()" #loginForm="ngForm">
    <input type="email" name="email" [(ngModel)]="email" placeholder="Email" required (input)="clearError()" />
    <input type="password" name="password" [(ngModel)]="password" placeholder="Password" required (input)="clearError()" />
    <a routerLink="/recupera_password">Password dimenticata?</a>
    <button type="submit">Accedi</button>
    <button type="button" routerLink="/registration">Registrati</button>
  </form>
</div>

<!-- OVERLAY DI CARICAMENTO -->
<div *ngIf="loading" class="loading-overlay">
  <div class="spinner"></div>
  <p>Caricamento...</p>
</div>

<app-footer></app-footer>
